* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';
}
 .banner{
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1400px;
    height: 700px;
    margin-bottom: 141px;
    
}
 .banner{
    float: right;
 }
 .banner-title{
/* text-align: right; */
   align-items: right;
   
 }
 .title{
   margin-top: 215px;
   margin-left: 820px;
   margin-right: 210px;
   font-weight: 400;
   font-size: 55px;
   color: #FFFFFF;
   bottom: 20px;
  
 }
 .description{
   margin-left: 822px;
   margin-right: 210px;
   font-weight: 400;
   font-size: 16px;
   color: #FFFFFF;
   margin-bottom: 20px; 

 }
 .btn-primary{
   margin-left: 818px;
   margin-right: 210px;
   background: #FFFFFF;
   border-radius: 8px;
   padding: 15px 20px;
   font-weight: 600;
   font-size: 20px;
   color: #005FAC;
 }
 /* section container */
 .container{
  margin-bottom: 120px;
 }
 .section-container{

  float: right;
  align-items: center;
  margin-left: 800px;
  margin-right: 250px;
  margin-top: 300px;
}
 .section-banner{
  width:300px;
  height:300px;
  margin-left:150px;
  
 }
.section-title{
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 30px;
}
.section-description{
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-bottom: 15px;
}
.section-content{
  gap: 8px;
  font-weight: 400;
font-size: 16px;
color: #444343;
}
/* My plan */
.my-plans{
  margin-top: 130px;
  margin-bottom: 130px;
  
}
.plan-title{
  text-align: center;
  margin-top: 100px;
}
.skills-container{
  margin-top: 300px;
  display: flex;
  gap: 100px;
  margin-left: 250px;
  margin-right: 210px;
}
.skill-title{
  font-weight: 700;
  font-size: 25px;
  color: #151414;
  margin-bottom: 12px;

}
.skill-description{
  font-weight: 300px;
font-size: 18px;
color: #737272;

}
/* positive minds */
.last-section{
  margin-bottom: 130px;
}

.last-title{
  background-image: url('../images/gradient1.png');
  background-repeat: no-repeat;
  width: 1000px;
  height: 150px;
  margin-left: 230px;
  margin-right: 230px;
  
}

.last-section-title{
  margin-top: 55px;
  margin-left: 60px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 40px;
  color: #FFFFFF;
}
.btn-last-primary{
  background: #FFFFFF;
   border-radius: 4px;
   padding: 12px 28px;
   font-weight: 600;
   font-size: 20px;
   color: #005FAC;
   margin-left: 60px;
}